In [20]:
%matplotlib inline 
import numpy as np 
import pandas as pd    
import seaborn as sns
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [21]:
df=pd.read_csv('dataset_group.csv')
df.head()

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [23]:
df.describe(include='all')

              Date      Order_id  Product
count        20641  20641.000000    20641
unique         603           NaN       37
top     08-02-2019           NaN  poultry
freq           183           NaN      640
mean           NaN    575.986289      NaN
std            NaN    328.557078      NaN
min            NaN      1.000000      NaN
25%            NaN    292.000000      NaN
50%            NaN    581.000000      NaN
75%            NaN    862.000000      NaN
max            NaN   1139.000000      NaN

In [24]:
print("The shape of the data is ",df.shape)

The shape of the data is  (20641, 3)

In [26]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [27]:
df['Product'].nunique()

37

In [28]:
df['Product'].str.lower()

0                   yogurt
1                     pork
2            sandwich bags
3               lunch meat
4             all- purpose
               ...
20636                 soda
20637         paper towels
20638                 soda
20639    laundry detergent
20640              shampoo
Name: Product, Length: 20641, dtype: object

In [29]:
df['Product'].str.lower().nunique()

37

In [30]:
df['Product'].value_counts()

poultry                         640
soda                            597
cereals                         591
ice cream                       579
cheeses                         578
waffles                         575
soap                            574
bagels                          573
lunch meat                      573
juice                           570
eggs                            570
toilet paper                    569
dinner rolls                    567
aluminum foil                   566
coffee/tea                      565
shampoo                         562
beef                            561
paper towels                    556
flour                           555
butter                          555
milk                            555
mixes                           554
dishwashing liquid/detergent    551
all- purpose                    551
ketchup                         548
yogurt                          545
individual meals                544
tortillas                       543
pasta                           542
laundry detergent               542
spaghetti sauce                 536
sandwich bags                   536
sugar                           533
pork                            531
fruits                          529
sandwich loaves                 523
hand soap                       502
Name: Product, dtype: int64

In [31]:
df["day"], df["month"], df["year"] = df["Date"].str.split('-').str

In [32]:
fig=plt.figure(figsize=(12,12))

df["date"] = pd.to_datetime(df['Date'])
df["dayname"] = df["date"].dt.day_name()

In [33]:
df["date"]

0       2018-01-01
1       2018-01-01
2       2018-01-01
3       2018-01-01
4       2018-01-01
           ...
20636   2020-02-25
20637   2020-02-25
20638   2020-02-26
20639   2020-02-26
20640   2020-02-26
Name: date, Length: 20641, dtype: datetime64[ns]

In [34]:
df["dayname"]

0           Monday
1           Monday
2           Monday
3           Monday
4           Monday
           ...
20636      Tuesday
20637      Tuesday
20638    Wednesday
20639    Wednesday
20640    Wednesday
Name: dayname, Length: 20641, dtype: object

In [35]:
df.head()

         Date  Order_id        Product day month  year       date dayname
0  01-01-2018         1         yogurt  01    01  2018 2018-01-01  Monday
1  01-01-2018         1           pork  01    01  2018 2018-01-01  Monday
2  01-01-2018         1  sandwich bags  01    01  2018 2018-01-01  Monday
3  01-01-2018         1     lunch meat  01    01  2018 2018-01-01  Monday
4  01-01-2018         1   all- purpose  01    01  2018 2018-01-01  Monday

In [36]:
df["Order_id"].value_counts()

226     34
957     34
1013    34
1071    34
10      33
        ..
243      4
1114     4
523      4
408      3
1139     3
Name: Order_id, Length: 1139, dtype: int64

In [37]:
df['month'].value_counts()

01    3227
02    2815
05    2337
03    2255
09    2126
08    2120
07    1997
04    1937
06    1827
Name: month, dtype: int64

In [38]:
df.tail(15)

,Date,Order_id,Product,day,month,year,date,dayname
20626,25-02-2020,1138,yogurt,25,02,2020,2020-02-25,Tuesday
20627,25-02-2020,1138,beef,25,02,2020,2020-02-25,Tuesday
20628,25-02-2020,1138,waffles,25,02,2020,2020-02-25,Tuesday
20629,25-02-2020,1138,sugar,25,02,2020,2020-02-25,Tuesday
20630,25-02-2020,1138,spaghetti sauce,25,02,2020,2020-02-25,Tuesday
20631,25-02-2020,1138,all- purpose,25,02,2020,2020-02-25,Tuesday
20632,25-02-2020,1138,sandwich bags,25,02,2020,2020-02-25,Tuesday
20633,25-02-2020,1138,toilet paper,25,02,2020,2020-02-25,Tuesday
20634,25-02-2020,1138,soda,25,02,2020,2020-02-25,Tuesday
20635,25-02-2020,1138,soda,25,02,2020,2020-02-25,Tuesday
20636,25-02-2020,1138,soda,25,02,2020,2020-02-25,Tuesday
20637,25-02-2020,1138,paper towels,25,02,2020,2020-02-25,Tuesday
20638,26-02-2020,1139,soda,26,02,2020,2020-02-26,Wednesday
20639,26-02-2020,1139,laundry detergent,26,02,2020,2020-02-26,Wednesday
20640,26-02-2020,1139,shampoo,26,02,2020,2020-02-26,Wednesday